@{
    ViewBag.Title = "کاتالوگ چرم";
}

<div class="container">
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tabPiped" data-toggle="tab">لوله ای</a></li>
            <li><a href="#tabSewing" data-toggle="tab">دوخت</a></li>
            <li><a href="#tabTexture" data-toggle="tab">بافت</a></li>
            <li><a href="#tabRail" data-toggle="tab">ریلی</a></li>
            <li><a href="#tabMasculine" data-toggle="tab">مردانه</a></li>
            <li><a href="#tabRope" data-toggle="tab">رشته ای</a></li>
        </ul>
        <div class="tab-content clearfix">
            <div class="tab-pane active" id="tabPiped">
                @foreach (var item in ViewBag.Piped)
                {
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        @if (string.IsNullOrEmpty(item.FileName))
                        {
                            <img style="width: 100%;" src="/content/image/kia-gallery-logo-square.png" />
                        }
                        else
                        {
                            <img style="width: 100%;" src="/image/leather/500x500/@item.FileName" />
                        }
                        <h5 class="txt-al-c">@item.Name</h5>
                    </div>
                }
            </div>
            <div class="tab-pane" id="tabSewing">
                @foreach (var item in ViewBag.Sewing)
                {
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        @if (string.IsNullOrEmpty(item.FileName))
                        {
                            <img style="width: 100%;" src="/content/image/kia-gallery-logo-square.png" />
                        }
                        else
                        {
                            <img style="width: 100%;" src="/image/leather/500x500/@item.FileName" />
                        }
                        <h5 class="txt-al-c">@item.Name</h5>
                    </div>
                }
            </div>
            <div class="tab-pane" id="tabTexture">
                @foreach (var item in ViewBag.Texture)
                {
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        @if (string.IsNullOrEmpty(item.FileName))
                        {
                            <img style="width: 100%;" src="/content/image/kia-gallery-logo-square.png" />
                        }
                        else
                        {
                            <img style="width: 100%;" src="/image/leather/500x500/@item.FileName" />
                        }
                        <h5 class="txt-al-c">@item.Name</h5>
                    </div>
                }
            </div>
            <div class="tab-pane" id="tabRail">
                @foreach (var item in ViewBag.Rail)
                {
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        @if (string.IsNullOrEmpty(item.FileName))
                        {
                            <img style="width: 100%;" src="/content/image/kia-gallery-logo-square.png" />
                        }
                        else
                        {
                            <img style="width: 100%;" src="/image/leather/500x500/@item.FileName" />
                        }
                        <h5 class="txt-al-c">@item.Name</h5>
                    </div>
                }
            </div>
            <div class="tab-pane" id="tabMasculine">
                @foreach (var item in ViewBag.Masculine)
                {
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        @if (string.IsNullOrEmpty(item.FileName))
                        {
                            <img style="width: 100%;" src="/content/image/kia-gallery-logo-square.png" />
                        }
                        else
                        {
                            <img style="width: 100%;" src="/image/leather/500x500/@item.FileName" />
                        }
                        <h5 class="txt-al-c">@item.Name</h5>
                    </div>
                }
            </div>
            <div class="tab-pane" id="tabRope">
                @foreach (var item in ViewBag.Rope)
                {
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        @if (string.IsNullOrEmpty(item.FileName))
                        {
                            <img style="width: 100%;" src="/content/image/kia-gallery-logo-square.png" />
                        }
                        else
                        {
                            <img style="width: 100%;" src="/image/leather/500x500/@item.FileName" />
                        }
                        <h5 class="txt-al-c">@item.Name</h5>
                    </div>
                }
            </div>
        </div>
    </div>
</div>