@{
    ViewBag.Title = "جزئیات سفارش";
}

<link href="~/Content/ios-switch-rtl.css" rel="stylesheet" />
<link href="~/content/order-page.css" rel="stylesheet" />

<style>
    .calendar-icon {
        position: absolute;
        top: 36px;
        left: 12px;
    }

    #main {
        min-height: 85vh;
    }

    .pop {
        cursor: pointer;
        position: absolute;
        left: 0;
        background-color: red;
        height: 15px;
        width: 15px;
        background-color: rgba(0,0,0,0.2);
        top: -43px;
        transition: width 0.5s, height 0.5s,font-size 0.5s,color 1s;
    }

        .pop:hover {
            height: 109px;
            width: 110px;
            font-size: 100px;
            color: green
        }

    .product-item .small-font .fa {
        width: 25px;
        color: #555;
        text-align: center;
    }

    #filter-list {
        width: 15%;
        padding-left: 0;
        padding-right: 0px;
        padding-top: 25px;
    }

    #menu-holder {
        width: calc(83.33333333% - 112px);
    }

    td span {
        line-height: 29px;
    }

    td i {
        width: 25px;
        text-align: center;
    }

    .border-left {
        border-left: solid 1px silver;
    }

    .table-head {
        padding-bottom: 5px;
    }

    .table-cell {
        padding: 5px 0;
        border-top: solid 1px silver;
    }

    td {
        vertical-align: middle !important;
    }

    #button-bar {
        margin-top: 8px;
        padding-bottom: 8px;
        border-bottom: solid 1px silver;
    }

    i.fa.fa-rocket.v-middle.red {
        font-size: 22px;
    }

    .roll-back i {
        margin-left: 3px;
    }

    .parent {
        background-color: #5cb85c;
        border-radius: 25px;
        color: white;
        font-size: 14px;
        width: auto;
        display: inline-block;
        margin: 5px 5px 0 0;
        padding: 5px
    }

    .delete-code {
        cursor: pointer;
        margin-right: 5px;
        color: white
    }

    .style {
        background-color: #5cb85c;
        border-radius: 25px;
        color: white;
        font-size: 12px;
        width: auto;
        display: inline-block;
        margin: 5px 5px 0 0;
        padding: 5px;
    }

    .delete-code-list {
        cursor: pointer
    }

    .delete-date-list {
        cursor: pointer
    }

    #orderNumberList {
        height: 140px;
        width: 200px;
        overflow-y: auto;
        display: none
    }

    #persianDateList {
        height: 100px;
        width: 200px;
        font-size: 10px;
        overflow-y: auto;
        display: none
    }
    @if(User.IsInRole("admin") || User.IsInRole("allOrder"))
    {
        <text>
       .table-data{
        margin-top:105px
        }
       </text>
    }
</style>

<div class="row">
    <div class="col-md-2">
        <div id="filter-list" class="navbar-search navbar-collapse collapse" style="width: 100%">
            <div>
                <input id="txtTerm" class="form-control" type="text" placeholder="جستجو..." name="term" />
            </div>
            <br />
            <div class="filter-item">
                <select id="cmbWorkshopOrder" class="form-control combo-chosen chosen-rtl" multiple data-placeholder="سریال سفارش">
                    @foreach (KiaGallery.Web.Models.WorkshopDropDwonViewModel item in ViewBag.WorkshopOrder)
                    {
                        <option value="@item.id">@item.val</option>
                    }
                </select>
            </div>
            <br />
            <div><input id="orderCode" class="form-control" type="text" placeholder="جستجوی شماره سفارش" name="" /></div>
            <div id="appendTo" class="">
            </div>
            <div style="margin-top: 5px;">
                <h5>شماره سفارش</h5>
                <input id="txtFromCode" class="form-control" type="text" placeholder="از شماره" name="fromCode" />
            </div>
            <div style="margin-top: 5px;">
                <input id="txtToCode" class="form-control" type="text" placeholder="تا شماره" name="toCode" />
            </div>
            <div id="orderNumberList" class="col-md-12"></div>
            <div style="margin-top: 5px;position:relative">
                <h5>تاریخ</h5>
                @*<span class="calendar-icon fa fa-calendar show-from-date"></span>*@
                <input id="txtFromDate" class="date form-control" type="text" placeholder="از تاریخ" name="fromDate" />
            </div>
            <div style="margin-top: 5px;position:relative">
                @*<span class="calendar-icon fa fa-calendar show-to-date"></span>*@
                <input id="txtToDate" class="date form-control" type="text" placeholder="تا تاریخ" name="toDate" />
            </div>
            <div id="persianDateList" class="col-md-12"></div>
            <h5>تاریخ ثبت</h5>
            <div class="filter-item">
                <select id="cmbDate" class="form-control combo-chosen chosen-rtl" data-placeholder="تاریخ" name="date">
                    <option value="">...</option>
                    @foreach (KiaGallery.Web.Models.OrderDateViewModel item in ViewBag.DateList)
                    {
                        <option value="@item.Date">@item.Date (@item.Count)</option>
                    }
                </select>
            </div>
            <h5>کارگاه</h5>
            <div class="filter-item">
                <select id="cmbWorkshop" class="form-control combo-chosen chosen-rtl" multiple data-placeholder="کارگاه">
                    @foreach (var item in ViewBag.WorkshopList)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <h5>کد نیم ست</h5>
            <div style="margin-top: 5px;">
                <input id="txtSetNumber" class="form-control" type="text" placeholder="کد نیم ست" name="setNumber" />
            </div>
            <h5>شعبه</h5>
            <div class="filter-item">
                <select id="cmbBranch" class="form-control combo-chosen chosen-rtl" multiple data-placeholder="شعبه">
                    @foreach (var item in ViewBag.BranchList)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            @*<h5>نوع شعبه</h5>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="branchTypeList" name="branchTypeList" value="0"><span>شعبه</span></label></div></div>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="branchTypeList" name="branchTypeList" value="1"><span>نمایندگی</span></label></div></div>*@
            <h5>مرتب سازی</h5>
            <div class="filter-item">
                <select id="cmbOrder" name="order" class="form-control combo-chosen chosen-rtl">
                    <option value="">پیشفرض</option>
                    <option value="Vitrin">ویترین</option>
                    <option value="OrderVitrin">ویترین سفارشی</option>
                    <option value="Customer">برای مشتری</option>
                    <option value="ForceOrder">عجله ای</option>
                    <option value="productType">نوع محصول</option>
                    <option value="SetNumber">شماره نیم ست</option>
                    <option value="DateAscending">تاریخ صعودی</option>
                </select>
            </div>
            <h5>نوع</h5>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="chkType" name="typeList" value="0"><span>دستبند زنجير طلا</span></label></div></div>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="chkType" name="typeList" value="11"><span>دستبند چرمی</span></label></div></div>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="chkType" name="typeList" value="12"><span>دستبند ریلی</span></label></div></div>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="chkType" name="typeList" value="13"><span>دستبند سنگی</span></label></div></div>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="chkType" name="typeList" value="16"><span>دستبند نخی</span></label></div></div>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="chkType" name="typeList" value="9"><span>النگو</span></label></div></div>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="chkType" name="typeList" value="1"><span>گردنبند</span></label></div></div>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="chkType" name="typeList" value="8"><span>آویز</span></label></div></div>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="chkType" name="typeList" value="3"><span>انگشتر</span></label></div></div>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="chkType" name="typeList" value="2"><span>گوشواره</span></label></div></div>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="chkType" name="typeList" value="4"><span>آویز ساعت</span></label></div></div>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="chkType" name="typeList" value="15"><span>آویز ساعت2</span></label></div></div>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="chkType" name="typeList" value="7"><span>پابند</span></label></div></div>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="chkType" name="typeList" value="6"><span>ست</span></label></div></div>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="chkType" name="typeList" value="5"><span>سنجاق بچگانه</span></label></div></div>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="chkType" name="typeList" value="10"><span>خرج کار</span></label></div></div>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="chkType" name="typeList" value="14"><span>پلاک لیزر</span></label></div></div>
            <div class="form-group"><button class="btn btn-default clear-params" style="width: 100%;"><i class="fa fa-filter" aria-hidden="true"></i> حذف فیلتر ها</button></div>
        </div>
    </div>
    <div class="col-md-10">
        <div id="menu-holder" class="affix hidden-xs hidden-sm">
            <div id="menu">
                <ul>
                    @if (User.IsInRole("registeredTab") || User.IsInRole("admin"))
                    {
                        <li><a href="#" class="status" data-id="0">ثبت شده</a></li>
                    }
                    @if (User.IsInRole("sentToWorkshopTab") || User.IsInRole("admin"))
                    {
                        <li><a href="#" class="status" data-id="1">ارسال شده به کارگاه</a></li>
                    }
                    @if (User.IsInRole("underConstructionTab") || User.IsInRole("admin"))
                    {
                        <li><a href="#" class="status" data-id="2">در حال ساخت</a></li>
                    }
                    @if (User.IsInRole("outOfConstructionTab") || User.IsInRole("admin"))
                    {
                        <li><a href="#" class="status" data-id="3">اتمام ساخت</a></li>
                    }
                    @if (User.IsInRole("sentToWorkshopTwoTab") || User.IsInRole("admin"))
                    {
                        <li><a href="#" class="status" data-id="10">ارسال شده به کارگاه دوم/مونتاژ</a></li>
                    }
                    @if (User.IsInRole("inPreprationInWorkshopTwoTab") || User.IsInRole("admin"))
                    {
                        <li><a href="#" class="status" data-id="11">در حال ساخت در کارگاه دوم/مونتاژ</a></li>
                    }
                    @if (User.IsInRole("outOfConstructionInWorkshopTwoTab") || User.IsInRole("admin"))
                    {
                        <li><a href="#" class="status" data-id="12">اتمام ساخت در کارگاه دوم/مونتاژ</a></li>
                    }
                    @if (User.IsInRole("inPreprationTab") || User.IsInRole("admin"))
                    {
                        <li><a href="#" class="status" data-id="4">در حال آماده سازی</a></li>
                    }
                    @if (User.IsInRole("readyForDeliverTab") || User.IsInRole("admin"))
                    {
                        <li><a href="#" class="status" data-id="5">آماده تحویل</a></li>
                    }
                    @if (User.IsInRole("sentTab") || User.IsInRole("admin"))
                    {
                        <li><a href="#" class="status" data-id="6">ارسال شده</a></li>
                    }
                    @if (User.IsInRole("shortageTab") || User.IsInRole("admin"))
                    {
                        <li><a href="#" class="status" data-id="7">کسری</a></li>
                    }
                    @if (User.IsInRole("canceledTab") || User.IsInRole("admin"))
                    {
                        <li><a href="#" class="status" data-id="9">لغو شده</a></li>
                    }
                    @if (User.IsInRole("allTab") || User.IsInRole("admin"))
                    {
                        <li><a id="all" class="status" data-id="-1" href="#">همه</a></li>
                    }
                </ul>
            </div>
            <div id="button-bar">
                <input type="button" class="select-all btn btn-default" value="انتخاب همه" />
                <button type="button" class="print btn btn-success"><i class="fa fa-print v-middle"></i> چاپ</button>
                <input type="button" class="makeShortageOrder btn btn-success" value="ساخت سفارش کسری" />
                <button class="change-status roll-back roll-back-registered btn btn-prev" data-status="0" data-confirm="آیا از بازگشت به مرحله ثبت شده اطمینان دارید؟" style="display:none"><i class="fa fa-share v-middle"></i> ثبت شده</button>
                <button class="change-status roll-back roll-back-inWorkshop btn btn-prev" data-status="1" data-confirm="آیا از بازگشت به مرحله ارسال به کارگاه اطمینان دارید؟" style="display:none"><i class="fa fa-share v-middle"></i> ارسال به کارگاه</button>
                <button class="change-status roll-back roll-back-underConstruction btn btn-prev" data-status="2" data-confirm="آیا از بازگشت به مرحله در حال ساخت اطمینان دارید؟" style="display:none"><i class="fa fa-share v-middle"></i> در حال ساخت</button>
                <button class="change-status returned roll-back roll-back-returned btn btn-danger" data-status="2" data-confirm="آیا از مرجوعی محصول اطمینان دارید؟" style="display:none"><i class="fa fa-share v-middle"></i> مرجوعی</button>
                <button class="change-status roll-back roll-back-outOfConstruction btn btn-prev" data-status="3" data-confirm="آیا از بازگشت به مرحله اتمام ساخت اطمینان دارید؟" style="display:none"><i class="fa fa-share v-middle"></i> اتمام ساخت</button>
                <button class="change-status roll-back roll-back-inWorkshop2 btn btn-prev" data-status="10" data-confirm="آیا از ارسال به کارگاه دوم/مونتاژ اطمینان دارید؟" style="display:none"><i class="fa fa-share v-middle"></i>ارسال به کارگاه دوم/مونتاژ </button>
                <button class="change-status roll-back roll-back-underConstruction2 btn btn-prev" data-status="11" data-confirm="آیا از بازگشت به حال ساخت به کارگاه دوم/مونتاژ اطمینان دارید؟" style="display:none"><i class="fa fa-share v-middle"></i>در حال ساخت به کارگاه دوم/مونتاژ</button>
                <button class="change-status roll-back roll-back-outOfConstruction2 btn btn-prev" data-status="12" data-confirm="آیا از بازگشت به اتمام ساخت در کارگاه دوم/مونتاژ اطمینان دارید؟" style="display:none"><i class="fa fa-share v-middle"></i>اتمام ساخت در کارگاه دوم/مونتاژ</button>
                <button class="change-status roll-back roll-back-inPreparation btn btn-prev" data-status="4" data-confirm="آیا از بازگشت به مرحله در حال آماده سازی اطمینان دارید؟" style="display:none"><i class="fa fa-share v-middle"></i>در حال آماده سازی </button>
                <button class="change-status roll-back roll-back-readyForDelivery btn btn-prev" data-status="5" data-confirm="آیا از بازگشت به مرحله آماده تحویل اطمینان دارید؟" style="display:none"><i class="fa fa-share v-middle"></i>آماده تحویل  </button>
                <input type="button" class="change-status inWorkShop btn btn-primary" value="ارسال به کارگاه" data-status="1" data-confirm="آیا از ارسال محصول به کارگاه اطمینان دارید؟" style="display:none" />
                <input type="button" class="change-status underConstruction btn btn-primary" value="در حال ساخت" data-status="2" data-confirm="آیا از تغییر وضعیت به در حال ساخت اطمینان دارید؟" style="display:none" />
                <input type="button" class="change-status outOfConstruction btn btn-primary" value="اتمام ساخت" data-status="3" data-confirm="آیا از تغییر وضعیت به در حال ساخت اطمینان دارید؟" style="display:none" />
                <input type="button" class="change-status inWorkShop2 btn btn-primary" value="ارسال به کارگاه دوم/مونتاژ" data-status="10" data-confirm="آیا از تغییر وضعیت به ارسال به کارگاه دوم/مونتاژ اطمینان دارید؟" style="display:none" />
                <input type="button" class="change-status underConstruction2 btn btn-primary" value="در حال ساخت کارگاه دوم/مونتاژ" data-status="11" data-confirm="آیا از تغییر وضعیت به در حال ساخت کاگاه دوم اطمینان دارید؟" style="display:none" />
                <input type="button" class="change-status outOfConstruction2 btn btn-primary" value="اتمام ساخت کارگاه دوم/مونتاژ" data-status="12" data-confirm="آیا از تغییر وضعیت به اتمام ساخت کاگاه دوم اطمینان دارید؟" style="display:none" />
                <input type="button" class="change-status inPreparation btn btn-primary" value="در حال آماده سازی" data-status="4" data-confirm="آیا از تغییر وضعیت به در حال آماده سازی اطمینان دارید؟" style="display:none" />
                <input type="button" class="change-status readyForDelivery btn btn-primary" value="آماده تحویل" data-status="5" data-confirm="آیا از آماده شدن محصول اطمینان دارید؟" style="display:none" />
                <input type="button" class="change-status sent btn btn-primary" value="ارسال شده" data-status="6" data-confirm="آیا از ارسال محصول اطمینان دارید؟" style="display:none" />
                <input type="button" class="change-status shortage btn btn-danger" value="کسری" data-status="7" data-reason="true" data-confirm="آیا از کسری کردن محصول اطمینان دارید؟" style="display:none" />
                <input type="button" class="change-status cancel btn btn-danger" value="لغو" data-status="9" data-reason="true" data-confirm="آیا از لغو کردن محصول اطمینان دارید؟" style="display:none" />

                <div id="fullSize" class="btn btn-default"></div>
                <div id="selctedSize" class="btn btn-default"></div>
                <div id="selctedCount" class="btn btn-default"></div>
                <div id="count" class="btn btn-default"></div>
            </div>
        </div>
        <div>
        </div>
        <div>
            <div class="hidden-xs hidden-sm" style="padding-top: 155px;">

            </div>
            <div id="content">
                <table class="table table-data table-responsive">
                    <tbody></tbody>
                </table>
            </div>
            <div class="col-xs-12">
                <h6 class="more txt-al-c">
                    <span class="icon mdi-set mdi-chevron-double-down"></span><span>بیشتر...</span>
                </h6>
            </div>
        </div>
    </div>
</div>

<div id="logDetailModal" class="modal fade" role="dialog" style="overflow-y: auto;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">سوابق سفارش</h4>
            </div>
            <div id="log-content" class="modal-body">

            </div>
        </div>
    </div>
</div>
@*<div id="descriptionlModal" class="modal fade" role="dialog" style="overflow-y: auto;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">توضیحات</h4>
                </div>
                <div id="log-content" class="modal-body">
                    <input name="id" type="hidden" id="id" value="" />
                    <input id="description" name="description" class="form-control" placeholder="توضیحات خود را در این قسمت وارد کنید." type="text">
                    <br />
                    <input id="btnSaveDescription" type="button" class="btn btn-success" value="ذخیره" />
                </div>
            </div>
        </div>
    </div>*@
<div id="description2Modal" class="modal fade" role="dialog" style="overflow-y: auto;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">توضیحات</h4>
            </div>
            <div id="log-content" class="modal-body">
                <input name="id" type="hidden" id="id" value="" />
                <input id="description2" name="description" class="form-control" placeholder="توضیحات خود را در این قسمت وارد کنید." type="text">
                <br />
                <input id="btnSaveDescription" type="button" class="btn btn-success" value="ذخیره" />
            </div>
        </div>
    </div>
</div>
<div id="changeStatusLogModal" class="modal fade" role="dialog" style="overflow-y: auto;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">سوابق سفارش</h4>
            </div>
            <div id="log-content" class="modal-body">
                <input type="hidden" id="hiddenStatus" value="" />
                <label for="cmbReason">علت:</label>
                <select id="cmbReason" class="form-control">
                    <option value="">...</option>
                </select>
                <br />
                <input id="btnSaveReasonStatus" type="button" class="btn btn-success" value="ذخیره" />
            </div>
        </div>
    </div>
</div>

<div id="printModal" class="modal fade" role="dialog" style="overflow-y: auto;">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">انتخاب گزارش</h4>
            </div>
            <div class="modal-body text-center">
                <div class="row">
                    <button id="btn-print" class="btn btn-success" style="width: 150px">چاپ گزارش با عکس</button>
                    <button id="btn-print-min" class="btn btn-info" style="width: 150px">چاپ گزارش بدون عکس</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="returnedModal" class="modal fade" role="dialog" style="overflow-y: auto;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">مروجوعی به کارگاه</h4>
            </div>
            <div class="modal-body">
                <button id="returnedWorkshop1" type="button" class="btn btn-primary btn-block">مرجوعی به کارگاه اول (ساخت طلا)</button>
                <button id="returnedWorkshop2" type="button" class="btn btn-primary btn-block">مرجوعی به کارگاه دوم (مونتاژ)</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <img src="" class="imagepreview" style="width: 100%;">
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(window).on('hashchange', function () {
            getList();
        });

        var roleList = @Html.Raw(ViewBag.RoleList)

            $(document).ready(function () {
                //$(".show-from-date").on("click", function (event) {
                //    event.preventDefault();
                //    setTimeout(function () {
                //        $("#txtFromDate").focus().click();
                //    }, 100);
                //})
                //$(".show-to-date").on("click", function (event) {
                //    event.preventDefault();
                //    setTimeout(function () {
                //        $("#txtToDate").focus().click();
                //    }, 100);
                //})

                $("#cmbWorkshopOrder").on("change", function (event) {
                    var value = $("#cmbWorkshopOrder").val();
                    if (value != null && value.length > 0) {
                        var param = { workshopOrderList: value }
                        manipulateParam(param, "page");
                    }
                    else {
                        removeParam(["workshopOrderList", "page"]);
                    }
                });
                $(".change-status").hide();

                $("#appendTo").on("change", function () {

                    var codeList = [];
                    $("input[name=orderCode]").each(function (i, e) {
                        codeList.push($(e).val());
                    });
                    var code = codeList.join("-");
                    manipulateParam({ orderCode: code }, "page");
                });

                $(document).on("click", ".delete-code", function () {
                    $(this).parent(".parent").remove();
                    var codeList = [];
                    if ($("input[name=orderCode]").length == 0) {
                        removeParam(["orderCode"])
                    }
                    else {
                        $("input[name=orderCode]").each(function (i, e) {
                            codeList.push($(e).val());
                        });
                        var code = codeList.join("-");
                        manipulateParam({ orderCode: code }, "page");
                    }

                });

                $("#orderCode").on("keypress", function (e) {
                    var code = e.which;
                    if (code == 13) {
                        if ($(this).val().length > 0) {
                            e.preventDefault();
                            var code = "<span class=\" parent \" >" + $(this).val() + "<i styl class=\" delete-code fa fa-close \" ></i><input type=\"hidden\" name=\"orderCode\" value=\"" + $(this).val() + "\" /></span>";
                            $("#appendTo").append(code).change();
                            $(this).val("")
                        }
                    }
                });

                $(document).on('click', ".pop", function () {
                    $('.imagepreview').attr('src', $(this).parents("td").find('img').attr('src'));
                    $('#imagemodal').modal('show');
                });
                var page = getParam()["page"];
                if (page)
                    removeParam(["page"]);
                else
                    getList();

                var flag = true;
                $(window).scroll(function () {
                    var isElementInView = Utils.isElementInView($('.more'), false);

                    if (flag && !$('.more').hasClass("hide") && isElementInView) {
                        flag = false;
                        setTimeout(function () {
                            flag = true;
                        }, 500);

                        var page = getParam()["page"];
                        if (page)
                            setParam("page", ++page);
                        else
                            setParam("page", 1);
                    }
                });

                $(".date").pDatepicker({
                    format: 'YYYY/MM/DD',
                    autoClose: true
                });
                $(".date").val("");

                $("#all").on("click", function (event) {
                    event.preventDefault();
                    removeParam(["status", "page"]);
                })

                $("#cmbWorkshop").on("change", function (event) {
                    var value = $("#cmbWorkshop").val();

                    if (value != null && value.length > 0) {
                        var param = { workshopList: value }
                        manipulateParam(param, "page");
                    }
                    else {
                        removeParam(["workshopList", "page"]);
                    }
                });

                $("#returnedWorkshop1").on("click", function (event) {
                    var idList = new Array();
                    $('.orderDetailItem:checked').each(function () {
                        idList.push(this.value);
                    });

                    changeStatus(idList, 2, "مرجوعی به کارگاه اول", null, "مرجوعی به کارگاه اول");
                });

                $("#returnedWorkshop2").on("click", function (event) {
                    var idList = new Array();
                    $('.orderDetailItem:checked').each(function () {
                        idList.push(this.value);
                    });

                    changeStatus(idList, 11, "مرجوعی به کارگاه دوم", null, "مرجوعی به کارگاه دوم");
                });

                $("#cmbBranch").on("change", function (event) {
                    var value = $("#cmbBranch").val();

                    if (value != null && value.length > 0) {
                        var param = { branchList: value }
                        manipulateParam(param, "page");
                    }
                    else {
                        removeParam(["branchList", "page"]);
                    }
                });

                $("#cmbWorkshop").on("change", function (event) {
                    var value = $("#cmbWorkshop").val();

                    if (value != null && value.length > 0) {
                        var param = { workshopList: value }
                        manipulateParam(param, "page");
                    }
                    else {
                        removeParam(["workshopList", "page"]);
                    }
                });

                $("#cmbOrder").on("change", function (event) {
                    var value = $("#cmbOrder").val();

                    if (value.length > 0) {
                        var param = { order: value }
                        manipulateParam(param, "page");
                    }
                    else {
                        removeParam(["order", "page"]);
                    }
                });

                $("#cmbDate").on("change", function (event) {
                    var value = $("#cmbDate").val();

                    if (value.length > 0) {
                        var param = { date: value }
                        manipulateParam(param, "page");
                    }
                    else {
                        removeParam(["date", "page"]);
                    }

                    loadBranchDate();
                });

                $("#txtTerm").on("keyup", function (e) {
                    var code = e.which;
                    if (code == 13) e.preventDefault();
                    if (code == 13) {
                        if ($("#txtTerm").val()) {
                            var param = { term: $("#txtTerm").val() }
                            manipulateParam(param, "page");
                        }
                        else
                            removeParam("term");
                    }
                });
                $("#txtOrderNumberTerm").on("keyup", function (e) {
                    var code = e.which;
                    if (code == 13) e.preventDefault();
                    if (code == 13) {
                        if ($("#txtOrderNumberTerm").val()) {
                            var param = { orderNumberTerm: $("#txtOrderNumberTerm").val() }
                            manipulateParam(param, "page");
                        }
                        else
                            removeParam("orderNumberTerm");
                    }
                });

                $("#txtFromDate").on("change", function (e) {
                    removeParam("exceptPersianDateList")
                    if ($("#txtFromDate").val()) {
                        var param = { fromDate: $("#txtFromDate").val() }
                        manipulateParam(param, "page");
                    }
                    else
                        removeParam("fromDate");
                });
                $("#txtToDate").on("change", function (e) {
                    removeParam("exceptPersianDateList")
                    if ($("#txtToDate").val()) {
                        var param = { toDate: $("#txtToDate").val() }
                        manipulateParam(param, "page");
                    }
                    else
                        removeParam("toDate");
                });

                $("#txtFromCode").on("change", function (e) {
                    removeParam("exceptOrderIdList")
                    if ($("#txtFromCode").val()) {
                        var param = { fromCode: $("#txtFromCode").val() }
                        manipulateParam(param, "page");
                    }
                    else
                        removeParam("fromCode");
                });


                $("#txtToCode").on("change", function (e) {
                    removeParam("exceptOrderIdList")

                    if ($("#txtToCode").val()) {
                        var param = { toCode: $("#txtToCode").val() }
                        manipulateParam(param, "page");
                    }
                    else
                        removeParam("toCode");
                });

                $("#txtSetNumber").on("change", function (e) {
                    if ($("#txtSetNumber").val()) {
                        var param = { setNumber: $("#txtSetNumber").val() }
                        manipulateParam(param, "page");
                    }
                    else
                        removeParam("setNumber");
                });

                $(".combo-chosen").chosen({ width: "100%", placeholder_text_single: 'یک مورد را انتخاب کنید.', search_contains: true });

                $(".chkType").on("change", function (event) {
                    var value = $(document).find("input[type=checkbox][name=typeList]:checked").map(function () {
                        return $(this).val();
                    }).get();

                    if (value.length > 0) {
                        var param = { typeList: value }
                        manipulateParam(param, "page");
                    }
                    else {
                        removeParam(["typeList", "page"]);
                    }
                });
                $(".branchTypeList").on("change", function (event) {
                    var value = $(document).find("input[type=checkbox][name=branchTypeList]:checked").map(function () {
                        return $(this).val();
                    }).get();

                    if (value.length > 0) {
                        var param = { branchTypeList: value }
                        manipulateParam(param, "page");
                    }
                    else {
                        removeParam(["branchTypeList", "page"]);
                    }
                });

                $(".select-all").on("click", function (event) {
                    if ($(".orderDetailItem").not(":checked").length > 0) {
                        $(".orderDetailItem").prop("checked", true);
                    }
                    else {
                        $(".orderDetailItem").prop("checked", false);
                    }
                    $(".orderDetailItem").change();
                });

                $(document).on("click", ".status", function (event) {
                    event.preventDefault();
                    var entity = {
                        status: $(this).attr("data-id")
                    };
                    $("#productList").empty();
                    //$("#content tbody").empty()

                    manipulateParam(entity, "page");
                });

                $(document).on("click", ".change-status:not(.returned)", function (event) {
                    event.preventDefault();
                    var confirm = $(this).attr("data-confirm");
                    var status = $(this).attr("data-status");
                    var reason = $(this).attr("data-reason");
                    var returned = $(this).hasClass("roll-back-returned");
                    if (reason) {
                        $("#hiddenStatus").val(status);
                        loadRemoteSelect("#cmbReason", "/order/getReason/" + status, null, "id", "text", "...", function () {
                            $("#changeStatusLogModal").modal("show");
                        });
                    }
                    else {
                        confirmMessage(confirm, function () {
                            var idList = new Array();
                            $('.orderDetailItem:checked').each(function () {
                                idList.push(this.value);
                            });
                            if (returned)
                                changeStatus(idList, status, "مرجوعی", null, "مرجوعی");
                            else
                                changeStatus(idList, status);
                        });
                    }
                });
                $(document).on("click", ".print", function () {
                    $("#printModal").modal("show");
                });
                $(document).on("click", "#btn-print-min", function () {
                    var idList = new Array();
                    $('.orderDetailItem:checked').each(function () {
                        idList.push(this.value);
                    });
                    if (idList.length > 0) {
                        var list = idList.join();

                         window.open("/order/printProductMin?type=2&id=" + list, "_blank")
                    }
                    else {
                        alert("حد اقل یک مورد انتخاب کنید.");
                    }
                });
                 $(document).on("click", "#btn-print", function () {
                    var idList = new Array();
                    $('.orderDetailItem:checked').each(function () {
                        idList.push(this.value);
                    });
                    if (idList.length > 0) {
                        var list = idList.join();

                         window.open("/order/printProductMin?type=1&id=" + list, "_blank")
                    }
                    else {
                        alert("حد اقل یک مورد انتخاب کنید.");
                    }
                });
                $(document).on("click", "#btnSaveReasonStatus", function (event) {
                    var idList = new Array();
                    $('.orderDetailItem:checked').each(function () {
                        idList.push(this.value);
                    });

                    var status = $("#hiddenStatus").val();
                    var reasonId = $("#cmbReason").val();

                    changeStatus(idList, status, null, reasonId);
                });
                $(document).on("click", "#btnSaveDescription", function (event) {
                    var id = $("#description2Modal #id").val();
                    var description = $("#description2Modal #description2").val();
                    $.post("/order/changeDescription2", { id: id, description: description }, function (response) {
                        loader(false);
                        if (response.status == 200) {
                            alert(response.message);
                            $("#description2Modal").modal("hide");
                            getList();
                        }
                        else {
                            alert(response.message);
                        }
                    });
                });

                $(document).on("click", ".makeShortageOrder", function (event) {
                    event.preventDefault();

                    confirmMessage("آیا از ساخت سفارش کسری اطمینان دارید؟", function () {
                        var idList = new Array();
                        $('.orderDetailItem:checked').each(function () {
                            idList.push(this.value);
                        });

                        if (idList.length > 0) {
                            loader(true);

                            var params = { orderDetailIdList: idList };

                            $.post("/order/makeShortageOrderDetail", params, function (response) {
                                loader(false);
                                if (response.status == 200) {
                                    callbackAlert(response.message, function () {
                                        getList();
                                    })
                                }
                                else {
                                    alert(response.message);
                                }
                            });
                        }
                        else {
                            alert("انتخاب مواردی که میخواهید با آن ها سفارش کسری ایجاد کنید الزامی است.");
                        }
                    });

                });

                $(document).on("click", ".product-image", function () {
                    $(this).closest("tr").find(".orderDetailItem").click();
                });

                $(document).on("change", ".orderDetailItem", function () {
                    if ($(".orderDetailItem:checked").length > 0) {
                        $("#selctedSize").show();
                        $("#selctedCount").show();
                        var weight = 0;
                        var count = 0;
                        $(".orderDetailItem:checked").each(function (index, element) {
                            weight += parseFloat($(this).attr("data-weight"));
                            count += ($(this).attr("data-count") * 1);
                        });
                        $("#selctedSize").html("وزن انتخاب شده: " + (Math.round(weight * 100) / 100) + " گرم");
                        $("#selctedCount").html("تعداد انتخاب شده: " + count);
                    }
                    else {
                        $("#selctedSize").hide();
                        $("#selctedCount").hide();
                    }
                });

                $(document).on("click", ".showLog", function () {
                    var id = $(this).attr("data-id");
                    loader(true);
                    $.get("/order/getlogdetail/" + id, function (response) {
                        loader(false);
                        var data = response.data;
                        var template = $.templates("#template-log");
                        var htmlOutput = template.render(data);
                        $("#log-content").html(htmlOutput);
                        $("#logDetailModal").modal('show');

                        $(".orderDetailItem").change();
                    });
                });

                //$(document).on("click", ".btn-description", function () {
                //    var id = $(this).attr("data-id");
                //    $("#descriptionlModal #id").val(id);
                //    $("#descriptionlModal #description").val($("#description" + id).html());
                //    $("#descriptionlModal").modal('show');
                //});

                $(document).on("click", ".btn-description2", function () {
                    var id = $(this).attr("data-id");
                    $("#description2Modal #id").val(id);
                    $("#description2Modal #description2").val($("#description2" + id).html());
                    $("input[name=description]").focus()
                    console.log($("#description2" + id).html())
                    $("#description2Modal").modal('show');
                });

                $('.returned').on("click", function (event) {
                    event.preventDefault();

                    $("#returnedModal").modal("show");
                });
            });
        var idList = [];
        $(document).on("click",".delete-code-list", function (e) {
            e.preventDefault();
            $(this).parents(".style").remove()
            idList.push($(this).attr("data-id"))
             var param = { exceptOrderIdList:idList }
                        manipulateParam(param, "page");
        });
         $(document).on("click",".delete-date-list", function (e) {
            e.preventDefault();
            $(this).parents(".style").remove()
            idList.push($(this).attr("data-id"))
             var param = { exceptPersianDateList:idList }
                        manipulateParam(param, "page");
        });
        function getList() {
            updateForm();

            var defaultEntity = {
                page: 0,
                count: 100,
                orderId: null,
                term: null,
                orderNumberTerm: null,
                typeList: [],
                workshopList: [],
                branchList: [],
                status: null,
                date: null,
                fromDate: null,
                toDate: null,
                fromCode: null,
                toCode: null,
                order: null,
                exception: null,
                exceptPersianDateList:null,
                orderCode: [],
                branch:@(ViewBag.Branch != null ? ViewBag.Branch : 0) ,
                branchType:@(ViewBag.BranchType != null ? ViewBag.BranchType : -1) ,

            }

            //    $("input[name=orderCode]").each(function (i, e) {
            //        defaultEntity.orderCode.push($(e).val());
            //    });

            //defaultEntity.orderCode = defaultEntity.orderCode.join("-");
            var newParams = getParam();
            var params = $.extend(defaultEntity, newParams);
            if (params.page == 0) {
                $("#content tbody").empty();
                $(window).scrollTop(0);
            }


            loader(true);
            $('.more').addClass("hide");
            $.post("/order/manipulateDetailListPaging", params, function (response) {
                if (response.status == 200) {
                    $("#orderNumberList").empty()
                    $("#persianDateList").empty()
                    var data = response.data;
                    var template = $.templates("#template");
                    var htmlOutput = template.render(data);
                    if (data.orderNumberList.length > 0) {
                        var stringOrderNumberList = data.orderNumberList.toString();
                        var orderNumberList = stringOrderNumberList.split(",");
                        if (orderNumberList.length > 0) {
                            $("#orderNumberList").show();

                            for (var i = 0; i < orderNumberList.length; i++) {
                                if (orderNumberList[i] != "")
                                $("#orderNumberList").append("<span class=\" style col-md-1 \">" + orderNumberList[i] + " <i style class=\" delete-code-list fa fa-close \" data-id=\"" + orderNumberList[i] + "\" ></i></span>");
                            };
                        }
                        else {
                            $("#orderNumberList").hide()

                        }
                    };

                    if (data.persianDateList.length > 0) {
                            $("#persianDateList").show()
                        var stringPersianDateList = data.persianDateList.toString();
                        console.log(data.persianDateList)
                        var persianDateList = stringPersianDateList.split(",");

                            for (var i = 0; i < persianDateList.length; i++) {
                                if (persianDateList[i] != "")
                                    $("#persianDateList").append("<span class=\" style col-md-1 \">" + persianDateList[i] + " <i style class=\" delete-date-list fa fa-close \" data-id=\"" + persianDateList[i] + "\" ></i></span>");
                            };


                    }
                     else {
                            $("#persianDateList").hide()
                        }
                    //$("#content").html(htmlOutput);
                    $("#content tbody").append(htmlOutput);
                    $(".more").removeClass("hide");
                    $("#count").html("تعداد کل : " + data.count);
                    if (response.data.pageCount == 0 || response.data.page == response.data.pageCount) {
                        $(".more").addClass("hide");
                    }
                    else {
                        $(".more").removeClass("hide");
                    }
                    if (response.data.weight) {
                        $("#fullSize").html("وزن کل: " + (Math.round(parseFloat(response.data.weight) * 100) / 100) + " گرم");
                        $("#fullSize").show();
                    }
                    else {
                        $("#fullSize").hide();
                    }

                    $(".orderDetailItem").change();
                    @if(!User.IsInRole("admin") && !User.IsInRole("allOrder"))
                    {
                     <text>
                    if (params["status"] && params["status"] >= 0) {
                        $(".change-status, .makeShortageOrder").hide();
                        var accessList = new Array();
                        var rolePrefix = "";
                        switch (parseInt(params["status"])) {
                            case 0:
                                rolePrefix = "register_";
                                break;
                            case 1:
                                rolePrefix = "sentToWorkshop_";
                                break;
                            case 2:
                                rolePrefix = "underConstruction_";
                                break;
                            case 3:
                                rolePrefix = "outOfConstruction_";
                                break;
                            case 10:
                                rolePrefix = "sentToWorkshopTwo_";
                                break;
                            case 11:
                                rolePrefix = "inPreprationInWorkshopTwo_";
                                break;
                            case 12:
                                rolePrefix = "outOfConstructionInWorkshopTwo_";
                                break;
                            case 4:
                                rolePrefix = "inPrepration_";
                                break;
                            case 5:
                                rolePrefix = "readyForDeliver_";
                                break;
                            case 6:
                                rolePrefix = "sent_";
                                break;
                            case 7:
                                rolePrefix = "shortage_";
                                break;
                            case 8:
                                rolePrefix = "register_";
                                break;
                            case 9:
                                rolePrefix = "canceled_";
                                break;
                        }
                        for (var i = 0; i < roleList.length; i++) {
                            roleList[i].startsWith(rolePrefix);
                            if (roleList[i].startsWith(rolePrefix)) {
                                var classList = roleList[i].slice(rolePrefix.length);
                                accessList.push(classList);
                            };
                        };

                        $.each(accessList, function (i, e) {
                            $("." + e).show()
                        });
                    }
                    else {
                        $(".change-status, .makeShortageOrder").hide();
                    }
                    </text>
                    }
                    @if(User.IsInRole("admin") || User.IsInRole("allOrder"))
                    {
                       <text>  $(".change-status").show(); </text>
                    }
                    $('[data-toggle="tooltip"]').tooltip();
                }
                else  {
                    alert(response.message);
                }
                loader(false);
            });
        }

        function updateForm() {
            var params = getParam();
            // workshop id
            $("#menu li").removeClass("active");
            if (params["status"] && params["status"] >= 0)
                $("#menu li a[data-id=" + params["status"] + "]").closest("li").addClass("active");
            else {
                $("#menu li:last").addClass("active");
            }

            // term
            if (params["term"]) {
                $("#txtTerm").val(params["term"]);
            }
            else {
                $("#txtTerm").val("");
            }

              // term
            if (params["orderNumberTerm"]) {
                $("#txtOrderNumberTerm").val(params["orderNumberTerm"]);
            }
            else {
                $("#txtOrderNumberTerm").val("");
            }

             if (params["orderCode"]) {
                $("#txtOrderCode").val(params["orderCode"]);
            }
             else {
                 $("#appendTo").empty();
            }

            // setNumber
            if (params["setNumber"]) {
                $("#txtSetNumber").val(params["setNumber"]);
            }
            else {
                $("#txtSetNumber").val("");
            }

            // fromDate
            if (params["fromDate"]) {
                $("#txtFromDate").val(params["fromDate"]);
            }
            else {
                $("#txtFromDate").val("");
            }

            // toDate
            if (params["toDate"]) {
                $("#txtToDate").val(params["toDate"]);
            }
            else {
                $("#txtToDate").val("");
            }

            // fromCode
            if (params["fromCode"]) {
                $("#txtFromCode").val(params["fromCode"]);
            }
            else {
                $("#txtFromCode").val("");
            }


            // toCode
            if (params["toCode"]) {
                $("#txtToCode").val(params["toCode"]);
            }
            else {
                $("#txtToCode").val("");
            }


            // type
            if (params["typeList"]) {
                var typeList = params["typeList"];
                $(".chkType").each(function (index, element) {
                    if (typeList.indexOf($(this).val()) >= 0) {
                        $(this).prop("checked", true);
                    }
                    else {
                        $(this).prop("checked", false);
                    }
                });
            }
            else {
                $(".chkType").prop("checked", false);
            }
            //branchTypeList
            if (params["branchTypeList"]) {
                var typeList = params["branchTypeList"];
                $(".branchTypeList").each(function (index, element) {
                    if (typeList.indexOf($(this).val()) >= 0) {
                        $(this).prop("checked", true);
                    }
                    else {
                        $(this).prop("checked", false);
                    }
                });
            }
            else {
                $(".branchTypeList").prop("checked", false);
            }

            // workshop
            if (params["workshopList"]) {
                $("#cmbWorkshop").val(params["workshopList"]);
            }
            else {
                $("#cmbWorkshop").val("");
            }

            // order
            if (params["order"]) {
                $("#cmbOrder").val(params["order"]);
            }
            else {
                $("#cmbOrder").val("");
            }

            // order
            if (params["date"]) {
                $("#cmbDate").val(params["date"]);
            }
            else {
                $("#cmbDate").val("");
            }

             if (params["workshopOrderList"]) {
                $("#cmbWorkshopOrder").val(params["workshopOrderList"]);
            }
            else {
                $("#cmbWorkshopOrder").val();
            }

            $(".combo-chosen").trigger("chosen:updated");
        }

        function changeStatus(input, status, message, reasonId, description,description2) {
            var params = {
                orderId: null,
                id: input,
                status: status,
                reasonId: reasonId ? reasonId : null,
                description: description ? description : null,
                description2: description2 ? description2 : null,
            };

            loader(true);
            $.post("/order/changeStatus", params, function (response) {
                loader(false);
                if (response.status == 200) {
                     //var idList = new Array();
                    $('.orderDetailItem:checked').each(function () {
                        $(this).parents("tr").next("tr").remove();
                        $(this).parents("tr").remove();
                    });
                    $("#changeStatusLogModal").modal("hide");
                    $("#returnedModal").modal("hide");
                }
                else {
                    alert(response.message);
                }
            });
        }

        function loadBranchDate() {
            var date = $("#cmbDate").val();
            $("#cmbBranch option").hide();
            if (date) {
                var params = { dateTime: date };
                loader(true);
                $.get("/order/getBranchRegisteredOrder", params, function (response) {
                    loader(false);
                    if (response.status == 200) {
                        for (var i = 0; i < response.data.list.length; i++) {
                            var item = response.data.list[i];
                            $("#cmbBranch option[value=" + item + "]").show();
                        }
                    }
                    $('#cmbBranch').trigger('chosen:updated');
                });
            }
            else {
                $("#cmbBranch option").show();
            }
            $('#cmbBranch').trigger('chosen:updated');
        }
    </script>

    <script id="template" type="text/x-jsrender">
        {{if list.length > 0}}
        {{for list}}
        <tr class=" {{if orderType == 1 && customer}}bg-customer{{/if}} {{if orderType == 1 && !customer}}bg-vitrin{{/if}}">
            <td style="width:15px" class="v-middle">
                <input id="chkOrder{{:id}}" class="orderDetailItem" data-count="{{:count}}" data-weight="{{:weight}}" name="orderDetailItem" type="checkbox" value="{{:id}}" />
            </td>
            <td class="txt-al-c" style="width: 120px;">
                <span class="v-middle relative">
                    <span class="pop fa fa-search-plus"></span>
                    {{if fileName}}
                    <img class="product-image" style="width: 110px;" src="/image/product/500x500/{{:fileName}}" />
                    {{else}}
                    <img class="product-image" style="width: 110px;" src="/content/image/kia-gallery-logo-square.png" />
                    {{/if}}
                </span>
            </td>
            <td>
                <i class="fa fa-navicon v-middle" aria-hidden="true" data-toggle="tooltip" title="کارگاه"></i>
                <span>
                    {{:orderSerial}}
                </span>
                <br />
                <i class="fa fa-bitbucket v-middle" aria-hidden="true" data-toggle="tooltip" title="کارگاه"></i>
                <span>
                    {{:workshopName}}
                </span>
                {{if workshopName2 != null}}
                <br />
                <i class="fa fa-bitbucket v-middle" aria-hidden="true" data-toggle="tooltip" title="کارگاه دوم/مونتاژ"></i>
                <span>
                    {{:workshopName2}}
                </span>
                {{/if}}
                <br />
                <i class="fa fa-calendar v-middle" aria-hidden="true" data-toggle="tooltip" title="تاریخ ثبت"></i>
                <span>
                    {{:createDate}}
                </span>
                {{if relatedOrderDetailSerial && relatedOrderDetailSerial != 'KIA-'}}
                <br />
                <i class="fa fa-shield v-middle" aria-hidden="true" data-toggle="tooltip" title="سریال سفارش کسری"></i>
                <span>{{:relatedOrderDetailSerial}}</span>
                {{/if}}
                {{if forceOrder}}
                <br />
                <i class="fa fa-rocket v-middle red" aria-hidden="true" data-toggle="tooltip" title="عجله ای"></i>
                <span>عجله ای</span>
                {{/if}}
                {{if returned > 0}}
                <br />
                <i class="fa fa-recycle v-middle red" aria-hidden="true" data-toggle="tooltip" title="مرجوعی"></i>
                <span>مرجوعی</span>
                {{/if}}
            </td>
            <td>
                <i class="fa fa-file-text-o v-middle" aria-hidden="true" data-toggle="tooltip" title="عنوان"></i>
                <span>
                    {{if title}}
                    {{:title}}
                    {{else}}
                    -
                    {{/if}}
                </span>
                <br />
                <i class="fa fa-list-alt v-middle" aria-hidden="true" data-toggle="tooltip" title="کد"></i>
                <span>
                    {{if code}}
                    {{:code}}
                    {{else}}
                    -
                    {{/if}}
                </span>
                <br />
                <i class="fa fa-barcode v-middle" aria-hidden="true" data-toggle="tooltip" title="کد کتاب کد"></i>
                <span>
                    {{if bookCode}}
                    {{:bookCode}}
                    {{else}}
                    -
                    {{/if}}
                </span>
                {{if setNumber}}
                <br />
                <a href="/order/manipulateAll#!setNumber={{:setNumber}}">
                    <i class="fa fa-cogs v-middle green" aria-hidden="true" data-toggle="tooltip" title="کد نیم ست" style="font-size:22px"></i>
                    <span class="green">{{:setNumber}}</span>
                </a>
                {{/if}}
            </td>
            <td class="hidden-xs hidden-sm">
                <div>
                    <i class="fa fa-sort-numeric-asc v-middle" aria-hidden="true" data-toggle="tooltip" title="تعداد"></i>
                    <span>{{:count}}</span>
                </div>
                <div>
                    <i class="fa fa-balance-scale v-middle" aria-hidden="true" data-toggle="tooltip" title="وزن"></i>
                    <span>{{:weight}} گرم</span>
                </div>
                <div>
                    {{if size}}
                    <i class="fa fa-expand v-middle" aria-hidden="true" data-toggle="tooltip" title="اندازه"></i>
                    <span>{{:size}}</span>
                    {{else}}
                    {{if productSizeId != null}}
                    <i class="fa fa-expand v-middle" aria-hidden="true" data-toggle="tooltip" title="اندازه"></i>
                    <span>سلیقه ای</span>
                    {{/if}}
                    {{/if}}
                    {{if size2}}
                    <i class="fa fa-expand v-middle" aria-hidden="true" data-toggle="tooltip" title="اندازه2"></i>
                    <span>{{:size2}}</span>
                    {{else}}
                    {{if productSizeId != null}}

                    <span> </span>
                    {{/if}}
                    {{/if}}
                </div>
                <div>
                    <i class="fa fa-certificate v-middle" aria-hidden="true" data-toggle="tooltip" title="براقیت"></i>
                    {{if goldType}}
                    <span>{{:goldTypeTitle}}</span>
                    {{else}}
                    <span>سلیقه ای</span>
                    {{/if}}
                </div>
                {{if productColor != null}}
                <div>
                    <i class="fa fa-circle v-middle" aria-hidden="true" data-toggle="tooltip" title="رنگ"></i>
                    <span>{{:productColorTitle}}</span>
                </div>
                {{/if}}
                {{if outerWerkTypeTitle}}
                <div>
                    <i class="fa fa-wrench  v-middle" aria-hidden="true" data-toggle="tooltip" title="نوع خرج کار"></i>
                    <span>{{:outerWerkTypeTitle}}</span>
                </div>
                {{/if}}
            </td>
            
            <td>
                {{if stoneList && stoneList.length > 0}}
                {{for stoneList ~array=stoneList}}
                <div>
                    <i class="fa fa-diamond v-middle" aria-hidden="true" data-toggle="tooltip" title="سنگ"></i>
                    <span>
                        {{:order}}: {{if stoneName}}{{:stoneName}}{{else}}سلیقه ای{{/if}}
                    </span>
                </div>
                {{/for}}
                {{/if}}
                {{if leatherList && leatherList.length > 0}}
                {{for leatherList ~array=leatherList}}
                <div>
                    <i class="fa fa-road v-middle" aria-hidden="true" data-toggle="tooltip" title="چرم"></i>
                    <span>
                        {{:order}}: {{if leatherName}}{{:leatherName}}{{else}}سلیقه ای{{/if}}
                    </span>
                </div>
                {{/for}}
                {{/if}}
                {{if leatherLoop}}
                <div>
                    <i class="fa fa-refresh v-middle" aria-hidden="true" data-toggle="tooltip" title="تعداد دور چرم"></i>
                    <span>{{:leatherLoop}}</span>
                </div>
                {{/if}}
            </td>
            <td>
                {{if customer}}
                <div>
                    <i class="fa fa-user v-middle" aria-hidden="true" data-toggle="tooltip" title="مشتری"></i>
                    <span>{{:customer}}</span>
                </div>
                {{/if}}
                {{if phoneNumber}}
                <div>
                    <i class="fa fa-phone v-middle" aria-hidden="true" data-toggle="tooltip" title="تلفن"></i>
                    <span>{{:phoneNumber}}</span>
                </div>
                {{/if}}
                {{if branchLabel}}
                <div>
                    <i class="fa fa-building v-middle" aria-hidden="true" data-toggle="tooltip" title="شعبه"></i>
                    <span>{{:branchLabel}}</span>
                </div>
                {{/if}}
               
                <div>
                    @if (User.IsInRole("orderDescription") || User.IsInRole("admin"))
                    {
                        <i class="fa fa-comment-o v-middle btn-description2 pointer" aria-hidden="true" data-toggle="tooltip" title="توضیحات" data-id="{{:id}}"></i>
                    }
                    @*<i class="fa fa-comment-o v-middle" aria-hidden="true" data-toggle="tooltip" title="توضیحات"></i>*@
                    <span>{{:description}}</span>
                </div>

                <div>
                    <i class="fa fa-user-o v-middle" aria-hidden="true" data-toggle="tooltip" title="کاربر ثبت کننده"></i>
                    <span>{{:createdUser}} -</span> <span> {{:branchName}}</span>
                </div>
                <div class="showLog pointer" data-id="{{:id}}">
                    {{if orderDetailStatus == 7 || orderDetailStatus == 8 || orderDetailStatus == 9}}
                    <i class="fa fa-line-chart v-middle red" aria-hidden="true" data-toggle="tooltip" title="وضعیت"></i>
                    <span class="red">{{:orderDetailStatusTitle}}</span>
                    {{else}}
                    <i class="fa fa-line-chart v-middle" aria-hidden="true" data-toggle="tooltip" title="وضعیت"></i>
                    <span>{{:orderDetailStatusTitle}}</span>
                    {{/if}}
                </div>
            </td>

        </tr>
        @*<tr style="position: relative; height: 22px;width: 100%;">
                <td style=" border-top: none;width: 100% !important;position: absolute;margin: 0;padding: 0;">
                    <div>
                        @if (User.IsInRole("orderDescription") || User.IsInRole("admin"))
                        {
                            <i class="fa fa-comment-o v-middle btn-description pointer" aria-hidden="true" data-toggle="tooltip" title="توضیحات" data-id="{{:id}}"></i>
                        }
                        <p style="display:inline;color:red" id="description{{:id}}">{{:description}}</p>
                    </div>
                </td>
            </tr>*@
        {{if description2}}
        <tr>
            <td colspan="7">

                <p style="display:inline;color:red" id="description2{{:id}}">{{:description2}}</p>
            </td>
        </tr>
        {{/if}}
        {{/for}}
        {{else}}
        <h4 class="txt-al-c">موردی یافت نشد</h4>
        {{/if}}
        @*<div class="clearfix"></div>*@
        @*@Html.Partial("_Pagination")*@
    </script>

    <script id="template-log" type="text/x-jsrender">
        <div class="table row column no-padding w100">
            <div class="table-heading text-center">
                <div class="table-head">
                    کاربر
                </div>
                <div class="table-head">
                    تاریخ
                </div>
                <div class="table-head">
                    وضعیت
                </div>
                <div class="table-head">

                </div>
            </div>
            {{for list}}
            <div class="table-row text-center">
                <div class="table-cell ltr">
                    {{:createUser}}
                </div>
                <div class="table-cell ltr">
                    {{:createdDate}}
                </div>
                <div class="table-cell">
                    {{:statusText}}
                </div>
                <div class="table-cell">
                    {{:reasonText}}
                </div>
            </div>
            {{/for}}
        </div>
    </script>

}