
@{
    ViewBag.Title = "مشاهده جزییات همه سفارشات";
}

<link href="~/Content/ios-switch-rtl.css" rel="stylesheet" />
<link href="~/content/order-page.css" rel="stylesheet" />

<style>
    #main {
        min-height: 85vh;
    }

    .pop {
        cursor: pointer;
        position: absolute;
        left: 0;
        background-color: red;
        height: 15px;
        width: 15px;
        background-color: rgba(0,0,0,0.2);
        top: -43px;
        transition: width 0.5s, height 0.5s,font-size 0.5s,color 1s;
    }

        .pop:hover {
            height: 109px;
            width: 110px;
            font-size: 100px;
            color: green
        }

    .product-item .small-font .fa {
        width: 25px;
        color: #555;
        text-align: center;
    }

    #filter-list {
        width: 15%;
        padding-left: 0;
        padding-right: 0px;
        padding-top: 25px;
    }

    #menu-holder {
        width: calc(83.33333333% - 112px);
    }

    td span {
        line-height: 29px;
    }

    td i {
        width: 25px;
        text-align: center;
    }

    .border-left {
        border-left: solid 1px silver;
    }

    .table-head {
        padding-bottom: 5px;
    }

    .table-cell {
        padding: 5px 0;
        border-top: solid 1px silver;
    }

    td {
        vertical-align: middle !important;
    }

    #button-bar {
        margin-top: 8px;
        padding-bottom: 8px;
        border-bottom: solid 1px silver;
    }

    i.fa.fa-rocket.v-middle.red {
        font-size: 22px;
    }

    .roll-back i {
        margin-left: 3px;
    }
</style>

<div class="row">
    <div class="col-md-2">
        <div id="filter-list" class="navbar-search navbar-collapse collapse" style="width: 100%">
            <div>
                <input id="txtTerm" class="form-control" type="text" placeholder="جستجو..." name="term" />
            </div>
            <div><input id="txtOrderNumberTerm" class="form-control" type="text" placeholder="جستجوی شماره سفارش" name="orderNumberTerm" /></div>

            <h5>تاریخ</h5>
            <div style="margin-top: 5px;">
                <input id="txtFromDate" class="date form-control" type="text" placeholder="تاریخ از" name="fromDate" />
            </div>
            <div style="margin-top: 5px;">
                <input id="txtToDate" class="date form-control" type="text" placeholder="تاریخ تا" name="toDate" />
            </div>
            <h5>تاریخ ثبت</h5>
            <div class="filter-item">
                <select id="cmbDate" class="form-control combo-chosen chosen-rtl" data-placeholder="تاریخ" name="date">
                    <option value="">...</option>
                    @foreach (KiaGallery.Web.Models.OrderDateViewModel item in ViewBag.DateList)
                    {
                        <option value="@item.Date">@item.Date (@item.Count)</option>
                    }
                </select>
            </div>
            <h5>کارگاه</h5>
            <div class="filter-item">
                <select id="cmbWorkshop" class="form-control combo-chosen chosen-rtl" multiple data-placeholder="کارگاه">
                    @foreach (var item in ViewBag.WorkshopList)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <h5>کد نیم ست</h5>
            <div style="margin-top: 5px;">
                <input id="txtSetNumber" class="form-control" type="text" placeholder="کد نیم ست" name="setNumber" />
            </div>
            <h5>شعبه</h5>
            <div class="filter-item">
                <select id="cmbBranch" class="form-control combo-chosen chosen-rtl" multiple data-placeholder="شعبه">
                    @foreach (var item in ViewBag.BranchList)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <h5>نوع شعبه</h5>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="branchTypeList" name="branchTypeList" value="0"><span>شعبه</span></label></div></div>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="branchTypeList" name="branchTypeList" value="1"><span>نمایندگی</span></label></div></div>
            <h5>مرتب سازی</h5>
            <div class="filter-item">
                <select id="cmbOrder" name="order" class="form-control combo-chosen chosen-rtl">
                    <option value="">پیشفرض</option>
                    <option value="Vitrin">ویترین</option>
                    <option value="OrderVitrin">ویترین سفارشی</option>
                    <option value="Customer">برای مشتری</option>
                    <option value="ForceOrder">عجله ای</option>
                    <option value="productType">نوع محصول</option>
                    <option value="SetNumber">شماره نیم ست</option>
                    <option value="DateAscending">تاریخ صعودی</option>
                </select>
            </div>
            <h5>نوع</h5>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="chkType" name="typeList" value="0"><span>دستبند زنجير طلا</span></label></div></div>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="chkType" name="typeList" value="11"><span>دستبند چرمی</span></label></div></div>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="chkType" name="typeList" value="12"><span>دستبند ریلی</span></label></div></div>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="chkType" name="typeList" value="13"><span>دستبند سنگی</span></label></div></div>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="chkType" name="typeList" value="9"><span>النگو</span></label></div></div>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="chkType" name="typeList" value="1"><span>گردنبند</span></label></div></div>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="chkType" name="typeList" value="8"><span>آویز</span></label></div></div>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="chkType" name="typeList" value="3"><span>انگشتر</span></label></div></div>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="chkType" name="typeList" value="2"><span>گوشواره</span></label></div></div>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="chkType" name="typeList" value="4"><span>آویز ساعت</span></label></div></div>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="chkType" name="typeList" value="7"><span>پابند</span></label></div></div>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="chkType" name="typeList" value="6"><span>ست</span></label></div></div>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="chkType" name="typeList" value="5"><span>سنجاق بچگانه</span></label></div></div>
            <div class="filter-item"><div class="checkbox ios-switch"><label><input type="checkbox" class="chkType" name="typeList" value="10"><span>خرج کار</span></label></div></div>

            <div class="form-group"><button class="btn btn-default clear-params" style="width: 100%;"><i class="fa fa-filter" aria-hidden="true"></i> حذف فیلتر ها</button></div>

        </div>
    </div>
    <div class="col-md-10">
        <div id="menu-holder" class="affix hidden-xs hidden-sm">
            <div id="menu">
                <ul>
                    <li><a href="#" class="status" data-id="0">ثبت شده</a></li>
                    <li><a href="#" class="status" data-id="1">ارسال شده به کارگاه</a></li>
                    <li><a href="#" class="status" data-id="2">در حال ساخت</a></li>
                    <li><a href="#" class="status" data-id="3">اتمام ساخت</a></li>
                    <li><a href="#" class="status" data-id="10">ارسال شده به کارگاه دوم/مونتاژ</a></li>
                    <li><a href="#" class="status" data-id="11">در حال ساخت در کارگاه دوم/مونتاژ</a></li>
                    <li><a href="#" class="status" data-id="12">اتمام ساخت در کارگاه دوم/مونتاژ</a></li>
                    <li><a href="#" class="status" data-id="4">در حال آماده سازی</a></li>
                    <li><a href="#" class="status" data-id="5">آماده تحویل</a></li>
                    <li><a href="#" class="status" data-id="6">ارسال شده</a></li>
                    <li><a href="#" class="status" data-id="7">کسری</a></li>
                    <li><a href="#" class="status" data-id="9">لغو شده</a></li>
                    <li><a id="all" href="#">همه</a></li>
                </ul>
            </div>
       
        </div>
        <div>
        </div>
        <div>
            <div class="hidden-xs hidden-sm" style="padding-top: 155px;">

            </div>
            <div id="content">
                <table class="table table-data table-responsive">
                    <tbody></tbody>
                </table>
            </div>
            <div class="col-xs-12">
                <h6 class="more txt-al-c">
                    <span class="icon mdi-set mdi-chevron-double-down"></span><span>بیشتر...</span>
                </h6>
            </div>
        </div>
    </div>
</div>

<div id="logDetailModal" class="modal fade" role="dialog" style="overflow-y: auto;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">سوابق سفارش</h4>
            </div>
            <div id="log-content" class="modal-body">

            </div>
        </div>
    </div>
</div>
<div id="descriptionlModal" class="modal fade" role="dialog" style="overflow-y: auto;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">توضیحات</h4>
            </div>
            <div id="log-content" class="modal-body">
                <input name="id" type="hidden" id="id" value="" />
                <input id="description" name="description" class="form-control" placeholder="توضیحات خود را در این قسمت وارد کنید." type="text">
                <br />
                <input id="btnSaveDescription" type="button" class="btn btn-success" value="ذخیره" />
            </div>
        </div>
    </div>
</div>

<div id="changeStatusLogModal" class="modal fade" role="dialog" style="overflow-y: auto;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">سوابق سفارش</h4>
            </div>
            <div id="log-content" class="modal-body">
                <input type="hidden" id="hiddenStatus" value="" />
                <label for="cmbReason">علت:</label>
                <select id="cmbReason" class="form-control">
                    <option value="">...</option>
                </select>
                <br />
                <input id="btnSaveReasonStatus" type="button" class="btn btn-success" value="ذخیره" />
            </div>
        </div>
    </div>
</div>

<div id="returnedModal" class="modal fade" role="dialog" style="overflow-y: auto;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">مروجوعی به کارگاه</h4>
            </div>
            <div class="modal-body">
                <button id="returnedWorkshop1" type="button" class="btn btn-primary btn-block">مرجوعی به کارگاه اول (ساخت طلا)</button>
                <button id="returnedWorkshop2" type="button" class="btn btn-primary btn-block">مرجوعی به کارگاه دوم (مونتاژ)</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <img src="" class="imagepreview" style="width: 100%;">
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(window).on('hashchange', function () {
            getList();
        });

        $(document).ready(function () {
            $(document).on('click', ".pop", function () {
                $('.imagepreview').attr('src', $(this).parents("td").find('img').attr('src'));
                $('#imagemodal').modal('show');
            });
            var page = getParam()["page"];
            if (page)
                removeParam(["page"]);
            else
                getList();

            var flag = true;
            $(window).scroll(function () {
                var isElementInView = Utils.isElementInView($('.more'), false);

                if (flag && !$('.more').hasClass("hide") && isElementInView) {
                    flag = false;
                    setTimeout(function () {
                        flag = true;
                    }, 500);

                    var page = getParam()["page"];
                    if (page)
                        setParam("page", ++page);
                    else
                        setParam("page", 1);
                }
            });

            $(".date").pDatepicker({
                format: 'YYYY/MM/DD',
                autoClose: true
            });
            $(".date").val("");

            $("#all").on("click", function (event) {
                event.preventDefault();
                removeParam(["status", "page"]);
            })

            $("#cmbWorkshop").on("change", function (event) {
                var value = $("#cmbWorkshop").val();

                if (value != null && value.length > 0) {
                    var param = { workshopList: value }
                    manipulateParam(param, "page");
                }
                else {
                    removeParam(["workshopList", "page"]);
                }
            });

      

            $("#cmbBranch").on("change", function (event) {
                var value = $("#cmbBranch").val();

                if (value != null && value.length > 0) {
                    var param = { branchList: value }
                    manipulateParam(param, "page");
                }
                else {
                    removeParam(["branchList", "page"]);
                }
            });

            $("#cmbWorkshop").on("change", function (event) {
                var value = $("#cmbWorkshop").val();

                if (value != null && value.length > 0) {
                    var param = { workshopList: value }
                    manipulateParam(param, "page");
                }
                else {
                    removeParam(["workshopList", "page"]);
                }
            });

            $("#cmbOrder").on("change", function (event) {
                var value = $("#cmbOrder").val();

                if (value.length > 0) {
                    var param = { order: value }
                    manipulateParam(param, "page");
                }
                else {
                    removeParam(["order", "page"]);
                }
            });

            $("#cmbDate").on("change", function (event) {
                var value = $("#cmbDate").val();

                if (value.length > 0) {
                    var param = { date: value }
                    manipulateParam(param, "page");
                }
                else {
                    removeParam(["date", "page"]);
                }

                loadBranchDate();
            });

            $("#txtTerm").on("keyup", function (e) {
                var code = e.which;
                if (code == 13) e.preventDefault();
                if (code == 13) {
                    if ($("#txtTerm").val()) {
                        var param = { term: $("#txtTerm").val() }
                        manipulateParam(param, "page");
                    }
                    else
                        removeParam("term");
                }
            });
            $("#txtOrderNumberTerm").on("keyup", function (e) {
                var code = e.which;
                if (code == 13) e.preventDefault();
                if (code == 13) {
                    if ($("#txtOrderNumberTerm").val()) {
                        var param = { orderNumberTerm: $("#txtOrderNumberTerm").val() }
                        manipulateParam(param, "page");
                    }
                    else
                        removeParam("orderNumberTerm");
                }
            });

            $("#txtFromDate").on("change", function (e) {
                if ($("#txtFromDate").val()) {
                    var param = { fromDate: $("#txtFromDate").val() }
                    manipulateParam(param, "page");
                }
                else
                    removeParam("fromDate");
            });
            $("#txtSetNumber").on("change", function (e) {
                if ($("#txtSetNumber").val()) {
                    var param = { setNumber: $("#txtSetNumber").val() }
                    manipulateParam(param, "page");
                }
                else
                    removeParam("setNumber");
            });

            $("#txtToDate").on("change", function (e) {
                if ($("#txtToDate").val()) {
                    var param = { toDate: $("#txtToDate").val() }
                    manipulateParam(param, "page");
                }
                else
                    removeParam("toDate");
            });

            $(".combo-chosen").chosen({ width: "100%", placeholder_text_single: 'یک مورد را انتخاب کنید.', search_contains: true });

            $(".chkType").on("change", function (event) {
                var value = $(document).find("input[type=checkbox][name=typeList]:checked").map(function () {
                    return $(this).val();
                }).get();

                if (value.length > 0) {
                    var param = { typeList: value }
                    manipulateParam(param, "page");
                }
                else {
                    removeParam(["typeList", "page"]);
                }
            });
            $(".branchTypeList").on("change", function (event) {
                var value = $(document).find("input[type=checkbox][name=branchTypeList]:checked").map(function () {
                    return $(this).val();
                }).get();

                if (value.length > 0) {
                    var param = { branchTypeList: value }
                    manipulateParam(param, "page");
                }
                else {
                    removeParam(["branchTypeList", "page"]);
                }
            });

            
            $(document).on("click", ".status", function (event) {
                event.preventDefault();
                var entity = {
                    status: $(this).attr("data-id")
                };
                $("#productList").empty();
                manipulateParam(entity, "page");
            });

            $(document).on("click", ".print", function () {
                var idList = new Array();
                $('.orderDetailItem:checked').each(function () {
                    idList.push(this.value);
                });
                if (idList.length > 0) {
                    var list = idList.join();
                      @if (!User.IsInRole("admin") && !User.IsInRole("leatherProductUser"))
                      {
                           <text> window.open("/order/printProductMin?id=" + list, "_blank");</text>
                      }
                      else
                      {
                           <text> window.open("/order/printProduct?id=" + list, "_blank");</text>
                      }
}
                else {
                          alert("حد اقل یک مورد انتخاب کنید.");
                      }
            });

           
            $(document).on("click", ".product-image", function () {
                $(this).closest("tr").find(".orderDetailItem").click();
            });

            

            $(document).on("click", ".showLog", function () {
                var id = $(this).attr("data-id");
                loader(true);
                $.get("/order/getlogdetail/" + id, function (response) {
                    loader(false);
                    var data = response.data;
                    var template = $.templates("#template-log");
                    var htmlOutput = template.render(data);
                    $("#log-content").html(htmlOutput);
                    $("#logDetailModal").modal('show');

                    $(".orderDetailItem").change();
                });
            });

            
        });

        function getList() {
            updateForm();

            var defaultEntity = {
                page: 0,
                count: 100,
                orderId: null,
                term: null,
                orderNumberTerm: null,
                typeList: [],
                workshopList: [],
                branchList: [],
                status: null,
                date: null,
                fromDate: null,
                toDate: null,
                order: null
            }

            var newParams = getParam();
            var params = $.extend(defaultEntity, newParams);

            if (params.page == 0) {
                $("#content tbody").empty();
                $(window).scrollTop(0);
            }

            loader(true);
            $('.more').addClass("hide");
            $.post("/order/manipulateDetailListPaging", params, function (response) {
                if (response.status == 200) {
                    var data = response.data;
                    var template = $.templates("#template");
                    var htmlOutput = template.render(data);
                    //$("#content").html(htmlOutput);
                    $("#content tbody").append(htmlOutput);
                    $(".more").removeClass("hide");
                    $("#count").html("تعداد کل : " + data.count);
                    if (response.data.pageCount == 0 || response.data.page == response.data.pageCount) {
                        $(".more").addClass("hide");
                    }
                    else {
                        $(".more").removeClass("hide");
                    }
                    if (response.data.weight) {
                        $("#fullSize").html("وزن کل: " + (Math.round(parseFloat(response.data.weight) * 100) / 100) + " گرم");
                        $("#fullSize").show();
                    }
                    else {
                        $("#fullSize").hide();
                    }

                    $(".orderDetailItem").change();

                    $('[data-toggle="tooltip"]').tooltip();
                }
                else {
                    alert(response.message);
                }
                loader(false);
            });
        }

        function updateForm() {
            var params = getParam();

            // workshop id
            $("#menu li").removeClass("active");
            if (params["status"] && params["status"] >= 0)
                $("#menu li a[data-id=" + params["status"] + "]").closest("li").addClass("active");
            else {
                $("#menu li:last").addClass("active");
            }

            // term
            if (params["term"]) {
                $("#txtTerm").val(params["term"]);
            }
            else {
                $("#txtTerm").val("");
            }

              // term
            if (params["orderNumberTerm"]) {
                $("#txtOrderNumberTerm").val(params["orderNumberTerm"]);
            }
            else {
                $("#txtOrderNumberTerm").val("");
            }

            // setNumber
            if (params["setNumber"]) {
                $("#txtSetNumber").val(params["setNumber"]);
            }
            else {
                $("#txtSetNumber").val("");
            }

            // fromDate
            if (params["fromDate"]) {
                $("#txtFromDate").val(params["fromDate"]);
            }
            else {
                $("#txtFromDate").val("");
            }

            // toDate
            if (params["toDate"]) {
                $("#txtToDate").val(params["toDate"]);
            }
            else {
                $("#txtToDate").val("");
            }

            // type
            if (params["typeList"]) {
                var typeList = params["typeList"];
                $(".chkType").each(function (index, element) {
                    if (typeList.indexOf($(this).val()) >= 0) {
                        $(this).prop("checked", true);
                    }
                    else {
                        $(this).prop("checked", false);
                    }
                });
            }
            else {
                $(".chkType").prop("checked", false);
            }
            //branchTypeList
            if (params["branchTypeList"]) {
                var typeList = params["branchTypeList"];
                $(".branchTypeList").each(function (index, element) {
                    if (typeList.indexOf($(this).val()) >= 0) {
                        $(this).prop("checked", true);
                    }
                    else {
                        $(this).prop("checked", false);
                    }
                });
            }
            else {
                $(".branchTypeList").prop("checked", false);
            }

            // workshop
            if (params["workshopList"]) {
                $("#cmbWorkshop").val(params["workshopList"]);
            }
            else {
                $("#cmbWorkshop").val("");
            }

            // order
            if (params["order"]) {
                $("#cmbOrder").val(params["order"]);
            }
            else {
                $("#cmbOrder").val("");
            }

            // order
            if (params["date"]) {
                $("#cmbDate").val(params["date"]);
            }
            else {
                $("#cmbDate").val("");
            }

            $(".combo-chosen").trigger("chosen:updated");
        }

        

        function loadBranchDate() {
            var date = $("#cmbDate").val();
            $("#cmbBranch option").hide();
            if (date) {
                var params = { dateTime: date };
                loader(true);
                $.get("/order/getBranchRegisteredOrder", params, function (response) {
                    loader(false);
                    if (response.status == 200) {
                        for (var i = 0; i < response.data.list.length; i++) {
                            var item = response.data.list[i];
                            $("#cmbBranch option[value=" + item + "]").show();
                        }
                    }
                    $('#cmbBranch').trigger('chosen:updated');
                });
            }
            else {
                $("#cmbBranch option").show();
            }
            $('#cmbBranch').trigger('chosen:updated');
        }
    </script>

    <script id="template" type="text/x-jsrender">
        {{if list.length > 0}}
        {{for list}}
        <tr class="{{if orderType == 1 && customer}}bg-customer{{/if}} {{if orderType == 1 && !customer}}bg-vitrin{{/if}}">
           
            <td class="txt-al-c" style="width: 120px;">
                <span class="v-middle relative">
                    <span class="pop fa fa-search-plus"></span>
                    {{if fileName}}
                    <img class="product-image" style="width: 110px;" src="/image/product/500x500/{{:fileName}}" />
                    {{else}}
                    <img class="product-image" style="width: 110px;" src="/content/image/kia-gallery-logo-square.png" />
                    {{/if}}
                </span>
            </td>
            <td>
                <i class="fa fa-navicon v-middle" aria-hidden="true" data-toggle="tooltip" title="کارگاه"></i>
                <span>
                    {{:orderSerial}}
                </span>
                <br />
                <i class="fa fa-bitbucket v-middle" aria-hidden="true" data-toggle="tooltip" title="کارگاه"></i>
                <span>
                    {{:workshopName}}
                </span>
                {{if workshopName2 != null}}
                <br />
                <i class="fa fa-bitbucket v-middle" aria-hidden="true" data-toggle="tooltip" title="کارگاه دوم/مونتاژ"></i>
                <span>
                    {{:workshopName2}}
                </span>
                {{/if}}
                <br />
                <i class="fa fa-calendar v-middle" aria-hidden="true" data-toggle="tooltip" title="تاریخ ثبت"></i>
                <span>
                    {{:createDate}}
                </span>
                {{if relatedOrderDetailSerial && relatedOrderDetailSerial != 'KIA-'}}
                <br />
                <i class="fa fa-shield v-middle" aria-hidden="true" data-toggle="tooltip" title="سریال سفارش کسری"></i>
                <span>{{:relatedOrderDetailSerial}}</span>
                {{/if}}
                {{if forceOrder}}
                <br />
                <i class="fa fa-rocket v-middle red" aria-hidden="true" data-toggle="tooltip" title="عجله ای"></i>
                <span>عجله ای</span>
                {{/if}}
                {{if returned > 0}}
                <br />
                <i class="fa fa-recycle v-middle red" aria-hidden="true" data-toggle="tooltip" title="مرجوعی"></i>
                <span>مرجوعی</span>
                {{/if}}
            </td>
            <td>
                <i class="fa fa-file-text-o v-middle" aria-hidden="true" data-toggle="tooltip" title="عنوان"></i>
                <span>
                    {{if title}}
                    {{:title}}
                    {{else}}
                    -
                    {{/if}}
                </span>
                <br />
                <i class="fa fa-list-alt v-middle" aria-hidden="true" data-toggle="tooltip" title="کد"></i>
                <span>
                    {{if code}}
                    {{:code}}
                    {{else}}
                    -
                    {{/if}}
                </span>
                <br />
                <i class="fa fa-barcode v-middle" aria-hidden="true" data-toggle="tooltip" title="کد کتاب کد"></i>
                <span>
                    {{if bookCode}}
                    {{:bookCode}}
                    {{else}}
                    -
                    {{/if}}
                </span>
                {{if setNumber}}
                <br />
                <a href="/order/manipulateAll#!setNumber={{:setNumber}}">
                    <i class="fa fa-cogs v-middle green" aria-hidden="true" data-toggle="tooltip" title="کد نیم ست" style="font-size:22px"></i>
                    <span class="green">{{:setNumber}}</span>
                </a>
                {{/if}}
            </td>
            <td class="hidden-xs hidden-sm">
                <div>
                    <i class="fa fa-sort-numeric-asc v-middle" aria-hidden="true" data-toggle="tooltip" title="تعداد"></i>
                    <span>{{:count}}</span>
                </div>
                <div>
                    <i class="fa fa-balance-scale v-middle" aria-hidden="true" data-toggle="tooltip" title="وزن"></i>
                    <span>{{:weight}} گرم</span>
                </div>
                <div>
                    {{if size}}
                    <i class="fa fa-expand v-middle" aria-hidden="true" data-toggle="tooltip" title="اندازه"></i>
                    <span>{{:size}}</span>
                    {{else}}
                    {{if productSizeId != null}}
                    <i class="fa fa-expand v-middle" aria-hidden="true" data-toggle="tooltip" title="اندازه"></i>
                    <span>سلیقه ای</span>
                    {{/if}}
                    {{/if}}
                </div>
                <div>
                    <i class="fa fa-certificate v-middle" aria-hidden="true" data-toggle="tooltip" title="براقیت"></i>
                    {{if goldType}}
                    <span>{{:goldTypeTitle}}</span>
                    {{else}}
                    <span>سلیقه ای</span>
                    {{/if}}
                </div>
                {{if outerWerkTypeTitle}}
                <div>
                    <i class="fa fa-wrench  v-middle" aria-hidden="true" data-toggle="tooltip" title="نوع خرج کار"></i>
                    <span>{{:outerWerkTypeTitle}}</span>
                </div>
                {{/if}}
            </td>
            <td>
                {{if stoneList && stoneList.length > 0}}
                {{for stoneList ~array=stoneList}}
                <div>
                    <i class="fa fa-diamond v-middle" aria-hidden="true" data-toggle="tooltip" title="سنگ"></i>
                    <span>
                        {{:order}}: {{if stoneName}}{{:stoneName}}{{else}}سلیقه ای{{/if}}
                    </span>
                </div>
                {{/for}}
                {{/if}}
                {{if leatherList && leatherList.length > 0}}
                {{for leatherList ~array=leatherList}}
                <div>
                    <i class="fa fa-road v-middle" aria-hidden="true" data-toggle="tooltip" title="چرم"></i>
                    <span>
                        {{:order}}: {{if leatherName}}{{:leatherName}}{{else}}سلیقه ای{{/if}}
                    </span>
                </div>
                {{/for}}
                {{/if}}
                {{if leatherLoop}}
                <div>
                    <i class="fa fa-refresh v-middle" aria-hidden="true" data-toggle="tooltip" title="تعداد دور چرم"></i>
                    <span>{{:leatherLoop}}</span>
                </div>
                {{/if}}
            </td>
            <td>
                {{if customer}}
                <div>
                    <i class="fa fa-user v-middle" aria-hidden="true" data-toggle="tooltip" title="مشتری"></i>
                    <span>{{:customer}}</span>
                </div>
                {{/if}}
                {{if phoneNumber}}
                <div>
                    <i class="fa fa-phone v-middle" aria-hidden="true" data-toggle="tooltip" title="تلفن"></i>
                    <span>{{:phoneNumber}}</span>
                </div>
                {{/if}}
                {{if branchLabel}}
                <div>
                    <i class="fa fa-building v-middle" aria-hidden="true" data-toggle="tooltip" title="شعبه"></i>
                    <span>{{:branchLabel}}</span>
                </div>
                {{/if}}
                @*{{if description}}*@
                <div>
                    <i class="fa fa-comment-o v-middle btn-description pointer" aria-hidden="true" data-toggle="tooltip" title="توضیحات" data-id="{{:id}}"></i>
                    <span id="description{{:id}}">{{:description}}</span>
                </div>
                @*{{/if}}*@
                <div>
                    <i class="fa fa-user-o v-middle" aria-hidden="true" data-toggle="tooltip" title="کاربر ثبت کننده"></i>
                    <span>{{:createdUser}}</span>
                </div>
                <div class="showLog pointer" data-id="{{:id}}">
                    {{if orderDetailStatus == 7 || orderDetailStatus == 8 || orderDetailStatus == 9}}
                    <i class="fa fa-line-chart v-middle red" aria-hidden="true" data-toggle="tooltip" title="وضعیت"></i>
                    <span class="red">{{:orderDetailStatusTitle}}</span>
                    {{else}}
                    <i class="fa fa-line-chart v-middle" aria-hidden="true" data-toggle="tooltip" title="وضعیت"></i>
                    <span>{{:orderDetailStatusTitle}}</span>
                    {{/if}}
                </div>
            </td>
        </tr>
        {{/for}}
        {{else}}
        <h4 class="txt-al-c">موردی یافت نشد</h4>
        {{/if}}
        @*<div class="clearfix"></div>*@
        @*@Html.Partial("_Pagination")*@
    </script>

    <script id="template-log" type="text/x-jsrender">
        <div class="table row column no-padding w100">
            <div class="table-heading text-center">
                <div class="table-head">
                    کاربر
                </div>
                <div class="table-head">
                    تاریخ
                </div>
                <div class="table-head">
                    وضعیت
                </div>
                <div class="table-head">

                </div>
            </div>
            {{for list}}
            <div class="table-row text-center">
                <div class="table-cell ltr">
                    {{:createUser}}
                </div>
                <div class="table-cell ltr">
                    {{:createdDate}}
                </div>
                <div class="table-cell">
                    {{:statusText}}
                </div>
                <div class="table-cell">
                    {{:reasonText}}
                </div>
            </div>
            {{/for}}
        </div>
    </script>

}